@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Fredoka+One&family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}